target/
/bin/
/build/
.classpath
.settings/
.loadpath
.project
.metadata
.launch
.buildpath
dependency-reduced-pom.xml

# OS Files #
.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.db

# Windows
Thumbs.db
Desktop.ini