name: Create release

on:
  workflow_dispatch:
  push:
    branches:
      - release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-java

      - name: Get version from build.gradle.kts
        id: plugin_version
        run: |
          version="$(gradle properties -q | grep "version:" | awk '{print $2}')"
          echo "plugin_version=$version" >> $GITHUB_OUTPUT

      - name: Build with Gradle
        run: gradle shadowJar

      - name: Upload jar file as artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          path: build/release/pcbridge*.jar
          if-no-files-found: warn

      - name: Create git tag
        id: tag
        run: |
          new_tag="v${{ steps.plugin_version.outputs.plugin_version }}"
          git tag $new_tag
          git push origin $new_tag
          echo "tag=$new_tag >> $GITHUB_OUTPUT"

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          files: build/release/pcbridge*.jar
          fail_on_unmatched_files: true
          generate_release_notes: true

  bump-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: master

      - name: Bump minor version
        run: gradle incrementVersion

      - name: Get the new version from build.gradle.kts
        id: plugin_version
        run: |
          version="$(gradle properties -q | grep "version:" | awk '{print $2}')"
          echo "plugin_version=$version" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4.2.4
        with:
          branch: bump-version
          branch-suffix: short-commit-hash
          commit-message: "Bump version to v${{ steps.plugin_version.outputs.plugin_version }}"
          title: "Bump version to v${{ steps.plugin_version.outputs.plugin_version }}"
