name: Tests

on:
  push:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./github/actions/setup-java

    - name: Check code formatting
      run: gradle ktlintCheck --scan
      
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./github/actions/setup-java

      - name: Build with Gradle
        run: gradle shadowJar

      - name: Run tests
        run: gradle test --info