name: Run tests

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-java

    - name: Check code formatting
      run: gradle ktlintCheck --scan

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Java
        uses: ./.github/actions/setup-java

      - name: Build with Gradle
        run: gradle shadowJar
        working-directory: pcbridge-spigot

      - name: Run tests
        run: gradle test --info