name: Run tests

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Java
        uses: ./.github/actions/setup-java

      - name: Run tests
        run: gradle test --info

      - name: Upload test results to Sentry Prevent
        if: ${{ !cancelled() }}
        uses: getsentry/prevent-action@c28387e2c2d931e083440db1be8c297d6cf6572f

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@96b38e9e60ee60a8c3911f4612407bba2f9195fb
        with:
          use_oidc: true
          files: "**/build/reports/jacoco/test/jacocoTestReport.xml"
          report_type: test_results
          fail_ci_if_error: true